# Contents List

01. Import libraries and data
02. View products ordered per department by day

# 01. Import libraries and data

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# create shortcut for data imports
path = r'C:\Users\jacym\Desktop\Career Foundry projects\04-2023 Instacart basket analysis'

In [3]:
# import merged data
df = pd.read_pickle(os.path.join(path, '02 Data','Prepared data', 'orders_products_merged_grouped.pkl'))

# 02. View products ordered per department by day

In [7]:
# groupby day and dept id, agg dept_id count
df.groupby(['order_day_of_week', 'department_id']).agg({'department_id': ['count']})

                                department_id
                                        count
order_day_of_week department_id
0                 1                    438841
                  2                      6086
                  3                    224913
                  4                   1953784
                  5                     17437
                  6                     55728
                  7                    432722
                  8                     17149
                  9                    182149
                  10                     6137
                  11                    80500
                  12                   151415
                  13                   351912
                  14                   125907
                  15                   228161
                  16                  1017027
                  17                   126237
                  18                    81622
                  19                   483709
                  20                   209526
                  21                    13220
1                 1                    360488
                  2                      5978
                  3                    203312
                  4                   1685056
                  5                     20600
                  6                     46394
                  7                    482348
                  8                     14526
                  9                    147855
                  10                     6339
                  11                    72300
                  12                   119042
                  13                   305028
                  14                   128136
                  15                   179995
                  16                   954759
                  17                   121267
                  18                    73057
                  19                   537636
                  20                   184736
                  21                    11378
2                 1                    282099
                  2                      4969
                  3                    152094
                  4                   1198541
                  5                     20325
                  6                     34429
                  7                    371272
                  8                     11923
                  9                    111066
                  10                     4559
                  11                    59991
                  12                    86829
                  13                   240818
                  14                    94968
                  15                   132596
                  16                   706961
                  17                   100229
                  18                    56698
                  19                   399307
                  20                   135582
                  21                     8574
3                 1                    265990
                  2                      4602
                  3                    138844
                  4                   1069260
                  5                     22459
                  6                     31540
                  7                    344572
                  8                     12586
                  9                     98761
                  10                     4246
                  11                    57336
                  12                    77949
                  13                   227573
                  14                    86383
                  15                   119361
                  16                   639699
                  17                    95575
                  18                    52455
                  19                   360898
                  20                   122133
                  21                     8312
4                 1                    259885
                  2                      4563
                  3                    137205
                  4                   1052458
                  5                     26142
                  6                     29598
                  7                    339927
                  8                     12416
                  9                     95849
                  10                     3989
                  11                    55178
                  12                    76907
                  13                   225101
                  14                    84724
                  15                   115153
                  16                   634225
                  17                    93391
                  18                    51568
                  19                   357680
                  20                   119669
                  21                     8174
5                 1                    290767
                  2                      5053
                  3                    153178
                  4                   1181596
                  5                     27429
                  6                     32836
                  7                    375912
                  8                     13704
                  9                    103684
                  10                     4580
                  11                    57946
                  12                    87963
                  13                   248690
                  14                    93525
                  15                   129185
                  16                   710436
                  17                    99366
                  18                    51573
                  19                   394519
                  20                   134434
                  21                     9415
6                 1                    336673
                  2                      5040
                  3                    162882
                  4                   1338596
                  5                     19304
                  6                     38728
                  7                    341370
                  8                     15412
                  9                    127263
                  10                     4723
                  11                    64321
                  12                   108822
                  13                   276247
                  14                    89390
                  15                   163607
                  16                   735640
                  17                   102601
                  18                    56829
                  19                   353801
                  20                   145169
                  21                    10072

In [6]:
pd.options.display.max_rows = 150

In [8]:
df.groupby(['department_id']).agg({'department_id': ['count']})

              department_id
                      count
department_id
1                   2234743
2                     36291
3                   1172428
4                   9479291
5                    153696
6                    269253
7                   2688123
8                     97716
9                    866627
10                    34573
11                   447572
12                   708927
13                  1875369
14                   703033
15                  1068058
16                  5398747
17                   738666
18                   423802
19                  2887550
20                  1051249
21                    69145